@charset "UTF-8";

html {
	background-color: $white;
	overflow: hidden;
}

body {
	position: absolute;
	width: 95%;
	height: 95%;
	margin: 10px auto;
	-webkit-font-smoothing: antialiased;
	transition: 0.1s ease all;
	-webkit-transition: 0.1s ease all;
	-moz-transition: 0.1s ease all;
	-o-transition: 0.1s ease all;
	box-shadow: 1px 1px 4px 7px $app-shadow-color;
	-webkit-box-shadow: 1px 1px 4px 7px $app-shadow-color;
	-moz-box-shadow: 1px 1px 4px 7px $app-shadow-color;
	-o-box-shadow: 1px 1px 4px 7px $app-shadow-color;
	background-color: $white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
	left: 0;
	right: 0;
	background: linear-gradient(120deg,#00c4cc 25%,#6e4593 85%);
}

.app_view_provider {
	width: 100%;
	height: 100%;
}