.app_sidebar {
	width: 500px;
	position: absolute;
	top: 64px;
	height: 655px;
	background: $sidebar-background;
	opacity: 0.3;
	border-bottom-left-radius: 5px;
	left: -500px;
	transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-o-transition: 0.2s ease all;
}